[submodule "semester3/fund-oop/oop-lab1-queue-ip"]
	path = semester3/fund-oop/lab1-queue-ip
	url = https://github.com/gardenappl/oop-lab1-queue-ip
[submodule "semester3/fund-oop/oop-lab2-notarius"]
	path = semester3/fund-oop/lab2-notarius
	url = https://github.com/gardenappl/oop-lab2-notarius.git
[submodule "semester3/fund-oop/lab3-qutesweeper"]
	path = semester3/fund-oop/lab3-qutesweeper
	url = https://github.com/gardenappl/oop-lab3-qutesweeper
[submodule "semester3/fund-oop/test1-democratic-world"]
	path = semester3/fund-oop/test1-democratic-world
	url = https://gitlab.com/gardenappl/uni2-oop-test1
[submodule "semester4/oop/lab3a-parallel"]
	path = semester4/oop/lab3a-parallel
	url = https://gitlab.com/gardenappl/uni-s4-oop-lab3a
[submodule "semester5/os/lab-1-3-4"]
	path = semester5/os
	url = https://github.com/gardenappl/os-labs
[submodule "semester6/compilers"]
	path = semester6/compilers
	url = https://github.com/gardenappl/rust-lexer
[submodule "semester6/crypto"]
	path = semester6/crypto
	url = https://github.com/gardenappl/uni-semester6-crypto
[submodule "semester6/distributed"]
	path = semester6/distributed
	url = https://github.com/gardenappl/uni-semester6-distributed
