*.workspace
*.layout
**/bin/
**/obj/
**/out/
**/*.depend
*/.directory
.directory
*/Test/
TempProjects/
**/.~lock*
**/CMakeLists.txt.user
**/.vs/
**/*.zip
**/* (Security copy)
**/.env/
**/__pycache__/
